.conteiner {
  padding-top: 10px;
  background-color: #282c34e7;

  width: 100vw;
  height: 100vh;
}

form {
  width: 600px;
  margin: 10em auto;
  font-size: large;
}

div {
  margin-bottom: 1em;
}

fieldset {
  border: 1px solid rgb(223, 170, 80);
  border-radius: 1em;
}

legend {
  padding: 10px;
  background: rgba(238, 190, 123, 0.833);
  color: rgb(15, 4, 1);
}
