html {
  font-family: sans-serif;
}
.conteiner {
  margin-top: 20px;
}

form {
  width: 600px;
  margin: 10em auto;
  background: rgba(238, 172, 131, 0.825);
}

div {
  margin-bottom: 1em;
}

fieldset {
  border: 1px solid rgb(223, 170, 80);
}

legend {
  padding: 10px;
  background: rgba(238, 190, 123, 0.833);
  color: rgb(15, 4, 1);
}
