.mainContainer {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  font-size: large;
  /* font-family: verdana; */
  color: #3f0606;
  background-color: #cbb4b43b;
  background-size: cover;
}

.container {
  align-self: center;
  justify-items: center;
  background-color: rgba(240, 190, 149, 0.381);
  opacity: 1;

  margin: 0.2em;
  border-radius: 1em;
  display: inline-block;
  padding: 0.2em;
  /* font-family: verdana; */
  color: #3f0606;
}

.img {
  margin: 1em;
  border-radius: 5em;
  width: 70vw;
  height: 60vh;
  align-self: center;
}
