.searchBar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.input {
  font-size: 1.3em;
  border-radius: 0.6em;
  height: 1.6em;
  cursor: text;
  background: linear-gradient(45deg, #dd9f9f9c, #b19b7c8f);
  border: none;
}

.button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 1.8em;
  background: linear-gradient(45deg, #dd9f9f, #b19b7c8f);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  transition: 0.3s;
  border: none;
}

.button:hover {
  background-color: #926d69ef;
  color: rgb(231, 218, 218);
}
