.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(248, 237, 235, 0.663);
  padding: 1em;
  border-radius: 1em;
  border: 1em solid rgba (249, 220, 196);
  margin: 1em;
  margin-bottom: 1em;
  gap: 0.25rem;
  position: fixed;
  top: 0;
  width: 95vw;
  transition: 0.2s;
}

.mainContainer:hover {
  background-color: rgba(187, 119, 109, 0.904);
}

.navLink {
  cursor: pointer;

  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 1.8em;
  background: linear-gradient(45deg, #dd9f9f, #b19b7c8f);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  transition: 0.3s;
  text-decoration: none;
}
.navLink:hover {
  background-color: #926d69ef;
  color: rgb(231, 218, 218);
}

/* @media screen and( max-width: 650px) {
  .mainContainer {
    flex-direction: column;
  }
} */
